* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 90%;
}

.header {
    height: 60px;
    line-height: 60px;
}

.header h1 {
    margin-top: 20px;
    padding-left: 10px;
    background-color: #F2DEDE;
    color: #A73F3F;
}

nav ul {
    display: block;
    padding-left: 10px;
    background-color: #212121;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
}

nav ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}
p{
    font-size: 24px;
    padding-left: 16px;
}
img{
    width: 200px;
    height: 168px;
}
.control{

    box-sizing: border-box;
    padding-left: 100px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.banner {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 32px;
}

.banner h1 {
    background-color: #DFF0D8;
    padding: 10px;
    color: #468876;
    margin-bottom: 16px;
}
input[type=text]{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}
button{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px #CCC solid;
}
a{
    text-decoration: none;
    color: black;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 16px;
}   
table th{
    padding: 20px;
    background-color: #DFF0D8;
}

td{
    padding: 10px 20px;
    border: 1px solid #999;
}
input[type=file]{
    width: 100%;
    height: 30px;
    margin-bottom: 8px;
}
input[type=button],input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #999;
}
.vt{
    border: 1px solid #999;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 0 0 16px;
    margin-bottom: 8px;
}
